header{
    background-color: rgb(172, 164, 164);
    color: white;
    text-align: center;  
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(217, 217, 204);
    margin: 0% 5%;
    
}
body.lightTheme{
    background-color: rgb(201, 198, 198);
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0% 5%;
}
body.darkTheme{
    background-color: black;
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0% 5%; 
}
body.blueTheme{
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0% 5%; 
}
#Project1{
    margin: 0 auto;
    text-align: center;
}
.links{
        background-color: rgb(106, 179, 179);
        margin-left: 20%;
        margin-right: 20%;
    }
section{
    margin: 5%;
    padding: 2%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(26, 26, 26);
    color: white;
}
.project1-content{
    display: none;
    background: rgb(177, 187, 199);
    padding: 5%;
    border-radius: 15px;
    
}
.closeP1{
    display: block;
    position: absolute;
    right: 10%;
}
.project1-content.active{
    display: flex;
}
#aboutMe1{
    display: none;
}
#aboutMe2{
    display: none;
}
#aboutMe3{
    display: none;
}
#aboutMe4{
    display: none;
}
#aboutMe5{
    display: none;
}
#aboutMe6{
    display: none;
}
#aboutMeLoading{
    display: none;
}
#aboutMeLoaded{
    display: none;
    color: red;
}
